@media (max-aspect-ratio: 1/1) {
    #header>h1 {
        font-size: 6vw;
        margin: 1vh 0;
    }

    #content {
        gap: 5vw;
    }

    #scoreboard {
        gap: 4vw;
        width: 80%;
    }

    .score h1 {
        font-size: 8vw;
    }

    .score p {
        padding: 1vh;
        font-size: 4vh;
    }

    #options {
        width: 95vw;
        gap: 2vh;
    }

    .option i {
        font-size: 20vw;
        line-height: 25vh;
    }
    
    #summary {
        width: 95vw;
    }

    .selection {
        width: 10vw;
        padding: 1vh;
    }

    .selection > i {
        font-size: 8vw;
    }

    #msg {
        padding: 0.5vh;
        font-size: 5vw;
    }

    #end-screen {
        width: 80vw;
        height: 40vh;
    }
}