body {
    margin: 0;

    background-color: #242629;
    color: #F7F9F9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.container {
    height: 100vh;
}

/* Header */
#header {
    flex: initial;
}

#header>h1 {
    text-align: center;
    font-size: clamp(1.2em, 5vmin, 2.8em);
    margin: 0.5em 0;
}

/* Footer */
#footer {
    flex: initial;
}

#footer>p {
    text-align: center;
}

/* Content */
#content {
    align-items: center;
    justify-content: center;

    gap: clamp(2px, 2vh, 2em);

    background-color: #181A1D;
    flex: auto;
}

/* Scoreboard */
#scoreboard {
    text-align: center;
    gap: 3vw;

    width: clamp(20vw, 50em, 95vw);
}

.score {
    flex: 1 1 0;
    align-items: stretch;
    justify-content: center;

    border: 2px solid #EC5555;
    border-radius: 8px;
}

.score > * {
    flex: auto;
}

.score h1 {
    margin: 0;
    
    font-size: clamp(0.5em, 5vmin, 2.2em);

    background-color: #EC5555;
}

.score p {
    margin: 0;
    padding: 10px;

    font-size: clamp(0.2em, 8vmin, 4em);
    font-weight: bolder;
    
}

/* Options */
#options {

    width: clamp(50vw, 60em, 95vw);
    gap: 2vw;

    text-align: center;
}

.option {
    padding: clamp(2px, 1em, 10px);

    border: 2px solid #EC5555;
    border-radius: 8px;

    flex: 1 1 0;
}

.option:hover {
    color: #EC5555;
}

.option:active {
    background-color: #34373a;
}

.option i {
    font-size: clamp(0.2em, 15vmin, 10em);
    line-height: 1.15em;
}

/* Summary */
#summary {
    border: 2px solid #EC5555;
    border-radius: 8px;

    width: clamp(50vw, 60em, 95vw);
}

.selection {
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;

    padding: 1em;
}

.selection:first-child {
    border-right: 2px solid #EC5555;
}

.selection:last-child {
    border-left: 2px solid #EC5555;
}

.selection > i {
    font-size: clamp(1em, 10vmin, 15em);
}

#msg {
    padding: 0.5em;

    font-weight: bold;

    flex: 1 1 auto;
}

#msg p {
    margin: 0;
    font-size: clamp(0.2em, 3vmin, 4em);
}

#msg p:not(:first-child) {
    margin: 0.8em 0 0 0;
}

/* End Screen */
#overlay {
    align-items: center;
    justify-content: center;

    position: absolute;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.80);
}

#end-screen {
    padding: 10px;
    margin: 10px;

    background-color: #242629;

    border: 2px solid #EC5555;
    border-radius: 10px;

    color: #F7F9F9;
    text-align: center;

    align-items: center;
    justify-content: center;
}

#end-msg {
    font-size: clamp(0.8em, 4vmax, 5em);
    font-weight: bolder;
}

#play-btn {
    padding: 20px;

    background-color: #34373a;
    color: #F7F9F9;

    font-size: clamp(0.8em, 2vmax, 2em);
    font-weight: bolder;

    border: 2px solid #EC5555;
    border-radius: 8px;
}

#play-btn:hover {
    background-color: #EC5555;
}

#play-btn:active {
    background-color: #c52b2b;
    border-color: #c52b2b;
}

/* Misc Styling */
.error {
    color: #BA4545;
}

.hide {
    display: none;
}