body {
    margin: 0;

    background-color: #242629;
    color: #F7F9F9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.container {
    height: 100vh;
}

/* Header */
#header {
    flex: initial;
}

#header>h1 {
    text-align: center;
    font-size: 4vh;
    margin: 1vw 0;
}

/* Footer */
#footer {
    flex: initial;
}

#footer>p {
    text-align: center;
}

/* Content */
#content {
    align-items: center;
    justify-content: center;
    gap: 3vh;

    padding: 2vh 0;

    background-color: #181A1D;
    flex: auto;
}

/* Scoreboard */
#scoreboard {
    text-align: center;
    gap: 2vw;

    width: 20%;
}

.score {
    flex: 1 1 0;
    align-items: stretch;
    justify-content: center;

    border: 2px solid #EC5555;
    border-radius: 8px;
}

.score > * {
    flex: auto;
}

.score h1 {
    margin: 0;
    
    font-size: 4vh;

    background-color: #EC5555;
}

.score p {
    margin: 0;
    padding: 1vw;

    font-size: 8vh;
    font-weight: bolder;
    
}

/* Options */
#options {
    width: 50vw;
    gap: 2vw;

    text-align: center;
}

.option {
    border: 2px solid #EC5555;
    border-radius: 8px;

    flex: 1 1 0;
}

.option:hover {
    color: #EC5555;
}

.option:active {
    background-color: #34373a;
}

.option i {
    font-size: 15vh;
    line-height: 20vh;
}

/* Summary */
#summary {
    border: 2px solid #EC5555;
    border-radius: 8px;

    width: 50vw;
}

.selection {
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;

    width: 8vw;
    padding: 1vw;
}

.selection:first-child {
    border-right: 2px solid #EC5555;
}

.selection:last-child {
    border-left: 2px solid #EC5555;
}

.selection > i {
    font-size: 8vw;
}

#msg {
    padding: 0.5vw;

    font-weight: bold;
    font-size: 2vh;

    flex: 1 1 auto;
}

#msg p {
    margin: 0;
}

#msg p:not(:first-child) {
    margin: 1vw 0 0 0;
}

/* End Screen */
#overlay {
    align-items: center;
    justify-content: center;

    position: absolute;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.80);
}

#end-screen {
    width: 40vw;
    height: 40vh;

    background-color: #242629;

    border: 2px solid #EC5555;
    border-radius: 10px;

    color: #F7F9F9;
    text-align:center;

    align-items: center;
    justify-content: center;
}

#end-msg {
    font-size: 2vw;
    font-weight: bolder;
}

#play-btn {
    padding: 20px;

    background-color: #34373a;
    color: #F7F9F9;

    font-weight: bolder;

    border: 2px solid #EC5555;
    border-radius: 8px;
}

#play-btn:hover {
    background-color: #EC5555;
}

#play-btn:active {
    background-color: #c52b2b;
    border-color: #c52b2b;
}

/* Misc Styling */
.error {
    color: #BA4545;
}

.hide {
    display: none;
}